<button class="btn" (click)="switchTo()" [ngStyle]="{
  'background-color': showTodo ? '#4B0500' : '#192C19',
  'color': '#EEEEEE',
  'border': showTodo ? '1px solid #4B0500' : '1px solid #192C19',
  'box-shadow': showTodo ? '0 0 3px 0 #4B0500' : '0 0 3px 0 #192C19',
  'outline': 'none',
  'cursor': 'pointer',
   'hover': 'cursor: pointer; background-color: #4B0500; color: #cccccc; border: 1px solid #4B0500; box-shadow: 0 0 3px #4B0500'
}">
  {{ showTodo ? 'Activities': 'Your post go here' }}</button>
<div class="activity">
  @if (showTodo) {
  <div class="activity__todos">
    <div class="activity__todos__content">
      @for (todo of todos; track $index) {
      <div [ngClass]="{'done': todo.completed, 'not': !todo.completed}">
        <input type="checkbox" [checked]="todo.completed"
          (change)="todo.completed = !todo.completed">
        <span [class.done]="todo.completed">{{ todo.title }}</span>
        <button (click)="remove(todo.id)">Remove</button>
      </div>
      }
    </div>
  </div>
  }@else {
  @for (post of posts; track post.id) {
  <div class="activity__post">
    <app-post [post]="post" />
  </div>
  }
  }

</div>