.navbar {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  box-shadow: inset 0 0 5px 0 rgba(0, 0, 0, 0.2);
  border-radius: 1px;
  &__logo {
    margin: 0;
    padding: 0;
    transition: all 0.1s ease-in-out;
    &:hover {
      transform: scale(1.02);
      cursor: pointer;
    }
  }
  &__items{
    display: flex;
    justify-content: space-between;
    align-items: center;
    &--item {
      list-style: none;
      text-decoration: none;
      font-weight: 700;
      margin-right: 1rem;
      padding: 0;
      border-radius: 1px;
      transition: all 0.1s ease-in-out;
      &:hover {
        border-bottom: 1px solid #ccc;
        transform: scale(1.02);
        cursor: pointer;
      }
    }
     &--item-profile {
      margin-right: 1rem;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      border: 1px solid #ccc;
      box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
      transition: all 0.1s ease-in-out;
      img{
        width: 100%;
        height: 100%;
        border-radius: 50%;
        object-fit: fill;
      }
      &:hover {
        transform: scale(1.02);
      }
    }
    &--btn {
      color: #ff0000;
      font-weight: 800;
      border: 1px solid #ff0000a6;
      border-radius: 5px;
      padding: 0.5rem 1rem;
      transition: all 0.1s ease-in-out;
      &:hover {
        cursor: pointer;
        background-color: #ff0000a6;
        color: #000000;
        border: 1px solid #ccc;
        box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
        text-shadow: 0 0 1px 0 #000000;
      }
    }
  }
  &__mobile-menu {
    display: none;
    transition: all 0.1s ease-in-out;
    &:hover {
      cursor: pointer;
      transform: scale(1.2);
    }
    &--items {
      position: absolute;
      top: 70px;
      right: 0;
      z-index: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      width: 300px;
      height: 60vh;
      padding: 1rem 0;      
      background-color: #fff;
      box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
      transition: all 5s ease-in-out;
      &--item {
        list-style: none;
        text-decoration: none;
        font-size: 20px;
        font-weight: 700;
        margin-bottom: .8rem;
        padding: 0;
        transition: all 0.1s ease-in-out;
        &:hover {
          transform: scale(1.02);
          cursor: pointer;
        }
      }
      &--btn {
        color: #ff0000;
        font-weight: 700;
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
  @media screen and (width < 768px) {
    &__items {
      display: none;
    }
    &__mobile-menu {
      display: block;
    }
  }
  @media screen and (width > 768px){
    &__mobile-menu {
      display: none;
    }
  }
}