<div class="navbar">
  <div class="navbar__logo">Logo</div>
  <div class="navbar__items">
    @for (item of navItems; track item.path) {
    <a class="navbar__items--item" [routerLink]="[item.path]" [ariaDisabled]="item.disabled">
      {{ (item.path)?.slice(0, 1)?.toUpperCase() + (item.path)?.slice(1) }}
    </a>
    }
    <div class="navbar__items--item-profile" (click)="goToProfile()">
      @if(isUserLogged) {
      <img [src]="getUserImage()" alt="" style="width: 100%; height: 100%;">}
      @else {
      <mat-icon aria-modal="true" mat-raised-button
        style="border-radius: 50%; box-shadow: 0 0 5px 0 #3F3A3A; width: 100%; height: 100%; display: flex; justify-content: center; align-items: center; font-size: 2rem;">person</mat-icon>
      }
    </div>
    <button mat-raised-button color="warn" (click)="goToLogin()">
      <span class="navbar__items--btn">{{isUserLogged ? 'Log Out' : 'Login'}}</span>
    </button>
  </div>
  <div class="navbar__mobile-menu" (click)="toggleMenu()">
    <mat-icon aria-modal="true" mat-raised-button color="warn">menu</mat-icon>
  </div>
  @if (openMenu) {
  <div class="navbar__mobile-menu--items">
    @for (item of navItems; track item.path) {
    <a class="navbar__mobile-menu--items--item" [routerLink]="[item.path]" (click)="closeMenu()">
      {{ (item.path)?.slice(0, 1)?.toUpperCase() + (item.path)?.slice(1) }}
    </a>
    }
    <button mat-raised-button color="accent" (click)="goToLogin()">
      <span class="navbar__mobile-menu--items--btn">{{isUserLogged ? 'Log Out' : 'Login'}}</span>
    </button>
  </div>
  }
</div>