<div class="post">
  <div class="post__img-title">
    @if (post?.image) {
    <img src="{{ post?.image }}" alt="{{ post?.title }}" class="post__img-title--image" />
    } @else {
    <span>There is not pic to show</span>
    }
    <h2 class="post__img-title--title">{{ post?.title }}</h2>
  </div>
  <app-small-title title="{{ post?.body }}" />
  <mat-divider></mat-divider>
  <div class="post__content">
    <div class="post__content__icons">
      <mat-icon class="post__content__icons--icon" matBadge="{{ post?.likes?.length }}"
        matBadgeColor="warn" aria-hidden="false">favorite</mat-icon>
      <mat-icon class="post__content__icons--icon" matBadge="{{ post?.reviewIds?.length }}"
        matBadgeColor="accent" aria-hidden="false">comment</mat-icon>
    </div>
    <div class="post__content--tags">
      <p *ngFor="let tag of post?.tags" class="post__content--tags--tag"># {{ tag
        }}</p>
    </div>
    <a [routerLink]="['post', post?.id]" routerLinkActive="router-link-active">Details</a>
    <button class="post__content--btn" (click)="likePost(post)">Like</button>
  </div>