<div class="user">
  <div class="user__info">
    <div class="user__info__avatar">
      <img src="{{ user.image }}" alt="avatar"
        style="width: 100%; height: 100%; border-radius: 50%;">
    </div>
    <div class="user__info__details">
      <h2 class="user__info__details__name">{{ user.username }}</h2>
     <div class="user__info__details--content">
       <span class="material-symbols-outlined">
        quick_reference_all
      </span>
      <h3>{{user.github}}</h3>
     </div>
      <div class="user__info__details--content">
        <span class="material-symbols-outlined">
        mystery
      </span>
      <h3>{{user.linkedin}}</h3>
      </div>
      <div class="user__info__details--content">
        <span class="material-symbols-outlined">
        clinical_notes
      </span>
      <p name="bio" id="bio" cols="30" rows="10">
        {{user.bio}}
      </p>
      </div>
      <!-- <p class="user__info__details__email"> -->

    </div>
  </div>
  <div class="user__form">
    <div class="user__form__body">
      <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
        <div class="user__form__body--form-group" (ngSubmit)="onSubmit()">
          <label for="name">Name</label>
          <input type="text" formControlName="username" class="form-control" id="username"
            placeholder="Name">
        </div>
        <div class="user__form__body--form-group">
          <label for="email">Email</label>
          <input type="email" formControlName="email" class="form-control" id="email"
            placeholder="Email">
        </div>
      </form>
    </div>
  </div>

  <!-- <div class="container__form__input">
            <label class="container__form__input--label" for="name">Title: </label>
            <input type="text" id="title" name="title" formControlName="title"
              [placeholder]="[ isEditing ? this.title : 'Give a title']">
            <span class="container__form__input--error"
              *ngIf="this.form.controls['title'].getError('required') && form.touched">Field
              required!</span>
            <span class="container__form__input--error"
              *ngIf="form.controls['title'].getError('minlength')">Minimum of 3</span>
          </div> -->