<div class="container">
  <a routerLink="create">
    <app-small-title title="Create new post" />
  </a>
  @defer (on timer(1000)) {
  <div class="container__inside">
    <div class="container__inside__posts">
      @for (post of posts; track post.id) {
      <app-post [post]="post" />
      }
      <div class=""></div>
    </div>
  </div>
  } @placeholder {
  <div class="loading">
    <app-big-title title="Loading posts" />
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </div>
  }
</div>