/* You can add global styles to this file, and also import other style files */
@import "../node_modules//@angular/material/prebuilt-themes/indigo-pink.css";
@import 'ngx-toastr/toastr';
* {
  background-color: rgb(235, 255, 255);
  color: #242424;
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: rgb(235, 255, 255);}
