.container {
  position: relative;
  width: 100%;
  min-height: 87.8%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  &__form {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    fieldset {
      position: relative;
      margin-bottom: 20px;
      border: none;
      .cancel {
        position: absolute;
        bottom: -5.27rem;
        left: 0;
        min-width: 100%;
        padding: 10px;
        margin-top: 1rem;
        border-radius: 5px;
        font-size: 1.1rem;
        font-weight: bold;
        text-align: center;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        background-color: #ff5555;
        &:hover {
          background-color: #ffffff;
          color: #ff5555;
          border: 1px solid #ff5555;
        }
      }
    }
    legend {
      font-size: 1.5rem;
      font-weight: bold;
      margin-bottom: 10px;
      text-align: center;
    }
    &__input {
      width: 100%;
      margin-bottom: 10px;
      &--label {
        font-size: 1.1rem;
        font-weight: bold;
        margin-bottom: 6px;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      input {
        width: 100%;
        padding: 10px;
        border-radius: 5px;
        border: 1px solid #d3d3d3;
        outline: none;
        transition: all 0.3s ease-in-out;
        &:focus {
          border: 1px solid #000000;
        }
      }
      input[type="file"] {
        padding: 0;
        border: none;
        outline: none;
      }
      textarea {
        width: 100%;
        padding: 10px;
        border-radius: 5px;
        border: 1px solid #d3d3d3;
        outline: none;
        transition: all 0.3s ease-in-out;
        &:focus {
          border: 1px solid #000000;
        }
      }
      &--error {
        color: red;
        font-size: 0.9rem;
        margin-top: 5px;
      }
      &--to-delete {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;
        &--item {
          margin-right: 4px;
          font-size: 0.9rem;
          font-weight: bold;
          cursor: pointer;
          transition: all 0.3s ease-in-out;
          &:hover {
            transform: scale(1);
          }
          svg {
            transition: all 0.2s ease-in-out;
            background-color: transparent !important;
            &:hover {
              color: #ff0000;
              transform: scale(1.2);
            }
          }
        }
      }
    }
    &__btn {
      width: 100%;
      padding: 10px;
      border-radius: 5px;
      border: none;
      outline: none;
      background-color: #073a00;
      color: #ffffff;
      font-size: 1.1rem;
      font-weight: bold;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
      &:hover {
        background-color: #ffffff;
        color: #073a00;
        border: 1px solid #073a00;
      }
    }
  }
  &__post-details {
    width: 100%;
    max-width: 350px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    &--title {
      margin-bottom: 6px;
      font-size: 16px;
      color: #000000;
      font-weight: 500;
    }
    &--body {
      margin-bottom: 10px;
      font-size: 14px;
      color: #3b3b3b;
    }
    img {
      width: 90%;
      height: 60%;
      border-radius: 5px;
      margin-bottom: 10px;
    }
    &--tags {
      width: 92%;
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
    }
  }
  @media screen and (max-width: 768px) {
    flex-direction: column;
    &__form {
      margin-bottom: 10px;
      max-width: 90%;
    }
    &__post-details {
      max-width: 80%;
      margin-top: 1rem;
    }
  }
}
